body {
    background-color: #000A21;
    

    //-------- HeadeR --------//
.header {
    position: fixed;
    height: 50px;
    width: 100%;
    top:0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000A21;
    

    //-------- HeadeR MenU --------//
    nav {
        z-index: 10;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #F11D58;
        height: 50px;
        width: 50px;
        overflow: hidden;
        transition: height 0.5s, width 0.5s, left 0.5s, bottom 0.5s;
    }

    nav.is-open{ 
        height: 100vh;
        width: 100vw;
        left:0;
        top:0;
        background-color:#F11D58;
    }

    .open {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 50px;
        width: 50px;
        top: 0px;
        left: 0px;
    }

    .open-icon {
        transition: background-color 0.3s;
    
    }

    .open-icon, .open-icon::before, .open-icon::after{
        width: 36px;
        height: 4px;
        border-radius: 2px;
        background-color: #000A21;
    }

    .open-icon::before, .open-icon::after{
        content:'';
        display: block;
        transition: transform 0.3s;
        
    }

    .open-icon::before {
        transform: translateY(-10px);
    }

    .open-icon::after {
        transform: translateY(6px);
    }

    nav.is-open .open-icon {
        background-color: transparent ;
    }

    nav.is-open .open-icon::before {
        transform: translateY(2px) rotate(45deg);
        background-color: #000A21;
    }

    nav.is-open .open-icon::after {
        transform: translateY(-2px) rotate(-45deg);
        background-color: #000A21;
    }

    ul {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        transform: translate(calc(-55vw + 10px), calc(-55vh + 10px))scale(0);
        transition: transform 0.5s;
    }

    nav.is-open ul {
        transform: none;
    }

    nav:not(.is-open) ul {
        pointer-events: none;
        background-color: #F11D58;
    }

    li {
        font-size: 30px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        color: #000A21;
        list-style: none;
    }

    li:not(:last-child) {
        margin-bottom: 20px;
    } 

@media (min-width: 600px) {
    nav {
        width: 100%;
    }

    nav.is-open {
        height: 50px;
    }

    .open {
        display: none;
    }

    ul {
        position: static;
        opacity: 1;
        transform: none;
        height: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    li {
        margin-bottom: 0;
        color: white;
    }
    li:not(:last-child) {
        margin-bottom: 0;
    }
}

.logo {
    img {
        height: 50px;
    }
}
.networks {
    margin-left: 100px;
    margin-right: 10px;
    height: 30px;
}
}

//-------- CarrouseL DE PrésentatioN --------//

.presentationCarousel {
    font-size: 28px;
    margin-left: 15px;
    color: white;
    font-family: poppins-semibold;
    margin-top: 90px;
    line-height: 120%;
    div {
        overflow: hidden;
        //float: initial;
        height: 65px;
        padding-top: 10px;
        margin-top: -41px;
        li {
            font-family: poppins-semibold;
            
            color: #F11D58;
            padding: 0 100px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
            margin-left: 5%;
        }
    }
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

.paragraphePresentation {
    font-family: poppins-light;
    color: white;
    margin-left:20px;
    margin-top:25px;
    width: 85%;
    font-size: 16px;
    line-height: 145%;

    span {
        color: #F11D58;
    }
    
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-left: 20px;
    margin-top:20px;
    height: 40px;
    width: 50%;
    
    p {
        font-family: poppins-semibold;
        color: white;
        font-size: 14px;

    }
}

//-------- CarrouseL DE PhotO DE ProjetS --------//

.slideshow{
z-index: -10;
overflow: hidden;
width: 90%;
margin: 2rem auto;
position: relative;
}
.slideshow ul{

    padding-bottom: 50%;/* ratio pour le responsive */
    margin: 1;
    list-style-type: none;
        
    }
         
    .slideshow li{
    
    top: 0;
    left: 0;
    animation: slideshow 15s ease infinite;
    position: absolute;
    opacity: 0;
    }
    .slideshow li:nth-child(2){

        animation-delay: 5s  
    }

    .slideshow li:nth-child(3){

        animation-delay: 10s
    }

    @keyframes slideshow{
	
        0%{opacity: 0}
        10%{opacity: 1}
        20%{opacity: 1}
        25%{opacity: 0}
        100%{opacity: 0}
        }
    .slideshow {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }
        //-----BarrE ProgressioN -----//
.barre_progression{ 
	
    position: absolute;
    left: 0;
    bottom: 0.5px;
    height: 5px;
    background: white;
    animation: barre_progression 25s ease-out infinite;
        
    }
        
    //----- AnimatioN BarrE ProgressioN -----//   
    @keyframes barre_progression{
        
    0%,20%,40%,60%,80%,100%{width: 0%;opacity: 0}
        
    4%,24%,44%,64%,84%{width: 0%;opacity: .3}
        
    16%,36%,56%,76%,96%{width: 100%;opacity: .7}
        
    17%,37%,57%,77%,97%{width: 100%;opacity: .3}
        
    18%,38%,58%,78%,98%{width: 100%;opacity: 0}
        
    }

    .text__Slide {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-family: poppins-light;
        font-size: 15px;
        color: white;
        width: 80%;
        line-height: 145%;
        margin: auto;

        span {
            color: #F11D58;
        }
        .Slide{
        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid white;
            margin-top:15px;
            margin-bottom:20px;
            height: 40px;
            width: 180px;
                
            p {
                font-family: poppins-semibold;
                color: white;
                font-size: 14px;
            
            }}
        }
    }

//-------- MaiS QuI JE SuiS --------/


    .me {
        background-color: white;
        margin-top: 10px;
        height: 240px;

        .megroup {
            display: flex;
            margin-left: 10px;
            margin-right: 10px;

        .text {
            
        h1 {
            font-family: poppins-semibold;
            color: black;
            font-size: 18px;
            margin-top: 15px;
            span {
                color: #F11D58;
            }
        }
        p {
            font-family: poppins-light;
            font-size: 14px;
            width: 95%;
            margin-top: 25px;
            line-height: 145%;
            }
            .button {

            border: 2px solid #F11D58;
            width: 150px;
            height: 25px;
            margin-left: 0;

            p {
            display: flex;
            justify-content: center;
            font-family: poppins-semibold;
            color: #F11D58;
            font-size: 14px;
            margin: 0;
            }
        }
        }
        
        .photo {
            display: flex;
            img {
              height: 150px;
              margin-top: 30px;
            }
            
        }
    }
    .photo {
        display: flex;
        img {
          height: 150px;
          margin-top: 30px;
        }
        
    }
    }
}
